main{

    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;

    &__head { grid-area: header; }
    &__container { grid-area: main; }
    &__foot { grid-area: footer; }
}

