@import url(_mixins.scss);
@import url(_variables.scss);

.main{

    @include grid;

    &__head { grid-area: header; }
    &__container { grid-area: main; }
    &__foot { grid-area: footer; }

    .main__head{
        display: flex;
        flex-direction: row;
        background-image: url(./src/images/mae-mu-1APtYqzNajA-unsplash.jpg);
    }


}

    