@import url(_mixins.scss);
@import url(_variables.scss);
* {
  margin: 0px;
  padding: 0px;
}

.main {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-areas: "header" "main" "footer";
  font-family: "barlow";
  max-width: 1440px;
  margin: 0 auto;
}
.main h1, .main h2, .main h3, .main h4, .main li, .main a {
  font-family: "fraunces";
}
.main .main__head {
  grid-area: header;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  background-image: url("/src/images/mae-mu-1APtYqzNajA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main__head .head__logo {
  height: 33px;
  width: 170px;
  grid-row: 2;
  grid-column: 1;
  margin-left: 50px;
}
.main .main__head .head__nav {
  color: white;
  grid-row: 2;
  grid-column: 14;
}
.main .main__head .head__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.main .main__head .head__nav .nav__list .list__sublist {
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.125rem;
  color: white;
}
.main .main__head .head__nav .nav__list .list__sublist li {
  margin: 10px;
}
.main .main__head .head__nav .nav__list .list__sublist:active {
  background-color: white;
  color: black;
}
.main .main__head .head__nav .nav__list .list__sublist:hover {
  background-color: rgb(60, 220, 229);
  color: white;
}
.main .main__head .head__title2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8.75px;
  width: 750px;
  grid-column: 6;
  grid-row: 5;
  color: white;
}
.main .main__head .head__fleche {
  place-self: center;
  grid-row: 10;
  grid-column: 10;
  justify-self: end;
}
.main .main__container {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.74fr;
}
.main .main__container .container__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .main__container .container__section .section__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 40px;
  letter-spacing: -0.29px;
  width: 445px;
  height: 400px;
  place-self: center;
}
.main .main__container .container__section .section__article .article__button {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  color: #24303e;
  font-weight: 900;
  width: 120px;
  height: 20px;
}
.main .main__container .container__section .section__article .article__button .underline, .main .main__container .container__section .section__article .article__button .underline_egg {
  width: 100px;
  background-color: #FE7766;
  border: 6px solid #FE7766;
  border-radius: 20px;
  opacity: 0.5;
  display: none;
  position: relative;
  top: -8px;
  left: -7px;
}
.main .main__container .container__section .section__article .article__button .underline_egg {
  background-color: #FAD400;
  border: 6px solid #FAD400;
}
.main .main__container .container__section .section__article .article__button:hover .underline, .main .main__container .container__section .section__article .article__button:hover .underline_egg {
  display: block;
}
.main .main__container .container__section .section__article .article__button:hover .underline_egg {
  display: block;
}
.main .main__container .container__section .section__article .article__text {
  font-size: 18px;
  line-height: 30px;
}
.main .main__container .container__section .section__image, .main .main__container .container__section .section__image .image__cup, .main .main__container .container__section .section__image .image__egg .image__cup, .main .main__container .container__section .section__image .image__cup .image__egg, .main .main__container .container__section .section__image .image__cup .image__cup, .main .main__container .container__section .section__image .image__egg {
  width: 100%;
  height: 600px;
}
.main .main__container .container__section .section__image .image__cup, .main .main__container .container__section .section__image .image__cup .image__cup, .main .main__container .container__section .section__image .image__egg .image__cup {
  height: 604px;
}
.main .main__container .container__section .cherrie, .main .main__container .container__section .orange {
  background-image: url("/src/images/mae-mu-vbAEHCrvXZ0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.main .main__container .container__section .cherrie .cherrie__text, .main .main__container .container__section .cherrie .orange .orange__text, .main .main__container .container__section .orange .cherrie .orange__text, .main .main__container .container__section .orange .cherrie__text, .main .main__container .container__section .orange .orange__text {
  width: 390px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}
.main .main__container .container__section .cherrie .cherrie__text .article__title3, .main .main__container .container__section .orange .cherrie__text .article__title3, .main .main__container .container__section .orange .orange__text .article__title3 {
  width: 390px;
}
.main .main__container .container__section .orange {
  background-image: url("/src/images/mae-mu-U1iYwZ8Dx7k-unsplash.jpg");
}
.main .main__container .testimonials {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  height: 80vh;
}
.main .main__container .testimonials .section__title4 {
  grid-column: 1/4;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A7AAAD;
  letter-spacing: 5px;
  align-self: flex-end;
}
.main .main__container .testimonials .section__article {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 355px;
}
.main .main__container .testimonials .section__article .article__list {
  list-style: none;
  text-align: center;
}
.main .main__container .testimonials .section__article .article__list :first-child {
  font-size: 18px;
  line-height: 22.19px;
  letter-spacing: -0.13px;
  font-weight: 900;
}
.main .main__container .testimonials .section__article .article__list :nth-child(2) {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  font-weight: 600;
  color: #A7AAAD;
}
.main .main__container .testimonials .section__article .article__text {
  text-align: center;
}
.main .main__container .testimonials .emily {
  justify-self: end;
}
.main .main__container .testimonials .jennie {
  justify-self: start;
}
.main .main__container .galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 350px;
  width: 1440px;
}
.main .main__foot {
  grid-area: footer;
  width: 1440px;
  height: 350px;
  background-color: #90D4C6;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__foot .foot__social {
  width: 297px;
  height: 206px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.main .main__foot .foot__social .foot__logo {
  -ms-flex-item-align: start;
      align-self: start;
  justify-self: center;
}
.main .main__foot .foot__social .foot__nav {
  -ms-flex-item-align: start;
      align-self: start;
}
.main .main__foot .foot__social .foot__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  color: #458d7e;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.13px;
  gap: 60px;
}
.main .main__foot .foot__social .foot__nav .nav__list .list__sublist {
  list-style: none;
  font-size: 1.125rem;
}
.main .main__foot .foot__social .foot__nav .nav__list .list__sublist:hover {
  color: white;
  cursor: pointer;
}
.main .main__foot .foot__social .container__section {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 235px;
  text-align: center;
  justify-self: center;
}
.main .main__foot .section__insta, .main .main__foot .section__pint, .main .main__foot .section__twitter, .main .main__foot .section__facebook {
  text-decoration: none;
  color: #2c7566;
  width: 20px;
  height: 20px;
  justify-self: center;
}
.main .main__foot .social, .main .main__foot .social .fa_brands {
  height: 20px;
  width: 20px;
}
.main .main__foot .social:hover, .main .main__foot .social .fa_brands:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */